{% extends 'base.html.twig' %}

{% block title %}Программы обучения по программированию{% endblock %}

{% block body %}

    <div class="container w-25">
        <h1 >Список программ обучения по программированию</h1>

        {% for course in courses %}
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('course_show', {'id': course.id}) }}" class="card-link">{{ course.name }}</a>
                    <div>{{ course.description }}</div>
                </div>
            </div>
        {% else %}
            <div>Доступных для прохождения курсов нет</div>
        {% endfor %}

        {% if is_granted('ROLE_SUPER_ADMIN')%}
            <a href="{{ path('course_new') }}" class="course-new btn btn-secondary mt-2">Создать новый курс</a>
        {% endif %}

    </div>

{% endblock %}
