{% extends 'base.html.twig' %}

{% block title %}Редактирование урока {{ lesson.title }}{% endblock %}

{% block body %}

    <div class="container w-50">

        <h1>Редактирование урока {{ lesson.title }}</h1>

        {{ include('lesson/_form.html.twig', {'button_label': 'Изменить урок'}) }}

        <div class="mt-1">

            {{ include('lesson/_delete_form.html.twig') }}

        </div>

    </div>

{% endblock %}
