{% extends 'base.html.twig' %}

{% block title %}Создание урока{% endblock %}

{% block body %}

    <a href="{{ path('course_show', {'id': courseId}) }}">Вернуться к курсу</a>

    <div class="container w-50">

        <h1>Создание урока</h1>

        {{ include('lesson/_form.html.twig') }}

    </div>

{% endblock %}
