{% extends 'base.html.twig' %}

{% block title %}Создание урока{% endblock %}

{% block body %}

    <div class="container w-50">

        <h1>Создание урока</h1>

        {{ include('lesson/_form.html.twig') }}

    </div>

{% endblock %}
