{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ошибка{% endblock %}

{% block body %}

    <div class="container w-50 text-center">

        <h1>Произошла ошибка</h1>

        <p>
            Ошибка: {{ status_code }}
        </p>

        <p>
            {{ exception.getMessage }}
        </p>

        <p>
            Проверьте URL адресс на
            наличие ошибок или <a href="{{ path('course_index') }}">вернитесь на главную страницу</a>.
        </p>

    </div>

{% endblock body %}